.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
}

.header .logo {
  max-height: 32px;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header a i {
  margin-right: 1rem;
}

