<mat-card>
  <mat-card-title>Alterar Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome"
        [(ngModel)]="product.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço(Use ponto como separador)"
        [(ngModel)]="product.price" name="price">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1" placeholder="Quantidade em Estoque"
        [(ngModel)]="product.quantity" name="quantity" readonly>
    </mat-form-field>

    <hr>
    
    <div class="type-form">
      <div>
        <input class="form-check-input" id="entrada" type="radio" value="type" 
        [(ngModel)]="type" name="type" value="entrada" [checked]="true" required 
        />
        <label for="entrada">Entrada</label>
      </div>
      <div>
        <input class="form-check-input" id="saida" type="radio" value="type" 
        [(ngModel)]="type" name="type" value="saida" [checked]="false" 
        />
        <label for="saida">Saída</label>
      </div>
    </div>
    <mat-form-field>
      <input matInput type="number" min="0" value="0" placeholder="Quantidade"
        [(ngModel)]="choiceQuantity" name="choiceQuantity">
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="updateProduct()" color="primary">
    Salvar Produto
  </button>

  <button mat-raised-button (click)="backToProducts()" color="warn">
    Cancelar
  </button>
</mat-card>