.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  font-size: 1rem;
  word-spacing: .15rem;
}

.footer i {
  margin-left: .5rem;
}